<!--==========================
    Header Section
============================-->
<section class="admin-color md-padding">
</section>

<!--==========================
    Admin Home Section
============================-->

<div class="d-flex" id="wrapper">

    {{!-- Admin Nav Side Bar --}}
    {{> admin-nav}}

    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-secondary" id="menu-toggle">Admin Menü</button>
        </nav>

        <div class="container-fluid">
            <div class="row text-center mt-5">
                <div class="col-md-4 offset-md-4">
                    <div class="section-header">
                        <h2 class="title">ANASAYFA</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>