{{!-- Admin Nav Side Bar --}}


<div class="bg-light text-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">ADMİN PANEL</div>
    <div class="list-group list-group-flush">
        <a href="/blog" class="list-group-item list-group-item-action bg-light text-dark">Blog Sayfası</a>
        <a href="/admin/users" class="list-group-item list-group-item-action bg-light text-dark">Kullanıcılar</a>
        <a href="/admin/editcategory" class="list-group-item list-group-item-action bg-light text-dark">Kategoriler</a>
        <a href="/admin/addpost" class="list-group-item list-group-item-action bg-light text-dark">İçerik Ekle</a>
        <a href="/admin/editposts" class="list-group-item list-group-item-action bg-light text-dark">İçerik Düzenle</a>
        <a href="/admin/addabout" class="list-group-item list-group-item-action bg-light text-dark">Hakkımda
            Ekle</a>
        <a href="/admin/about" class="list-group-item list-group-item-action bg-light text-dark">Hakkımda
            Düzenle</a>
    </div>
</div>