{{!-- Admin Nav Side Bar --}}


<div class="bg-light text-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">ADMİN PANEL</div>
    <div class="list-group list-group-flush">
        <a href="/blog" class="list-group-item list-group-item-action bg-light text-dark">Blog Sayfası</a>
        <a href="/admin/editcategory" class="list-group-item list-group-item-action bg-light text-dark">Kategori
            Düzenle</a>
        <a href="/admin/editpost" class="list-group-item list-group-item-action bg-light text-dark">İçerik Düzenle</a>
        <a href="#" class="list-group-item list-group-item-action bg-light text-dark">Hakkımda Düzenle</a>
    </div>
</div>