<!-- NAVIGATION -->

<nav class="navbar navbar-container navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"> <i class="fas fa-jedi"></i> Burak Güney</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menü
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">ANASAYFA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">HAKKIMDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link alertbox" id="blog" href="/blog">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="blogpost" href="/posts/new">POST EKLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="blogcontact" href="/contact">İLETİŞİM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="blogregister" href="/register">KAYIT OL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bloglogin" href="/login">GİRİŞ YAP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    let blog = document.getElementById("blog");
    let blogpost = document.getElementById("blogpost");
    let contact = document.getElementById("blogcontact");
    let register = document.getElementById("blogregister");
    let login = document.getElementById("bloglogin");

    blog.addEventListener("click", () => {
        setTimeout(function () { location.replace("https://burakguney.herokuapp.com/about"); }, 1000);
        alert("Burası şuanlık kullanım dışı üzgünüm.")
    })

    blogpost.addEventListener("click", () => {
        setTimeout(function () { location.replace("https://burakguney.herokuapp.com/about"); }, 1000);
        alert("Yani istersen post ekle ama bunu ben veritabanında görebilirim sen göremezsin arayüzle ilişkilendirmedim daha. Bu sebeple girmene de gerek yok.");
    })

    contact.addEventListener("click", () => {
        setTimeout(function () { location.replace("https://burakguney.herokuapp.com/contact"); }, 1000);
        alert("Benimle şuan iletişim kuramazsın onu bir ara halletçem basit. Görüntülemene izin vericem ama içersi işlevsiz.");
    })

    register.addEventListener("click", () => {
        setTimeout(function () { location.replace("https://burakguney.herokuapp.com/register"); }, 1000);
        alert("Biliyor musun aslında üye almalı mıyım bir fikrim yok karar vericem. Görüntülemene izin vericem ama içersi işlevsiz.");
    })

    login.addEventListener("click", () => {
        setTimeout(function () { location.replace("https://burakguney.herokuapp.com/about"); }, 1000);
        alert("Üye olamayınca girişte yapamıyorsunuz tabi dediğim gibi görüntülemene izin vericem ama içersi işlevsiz.");
    })

</script>