<!doctype html>

<html lang="en">

<body>
    {{!-- HEAD --}}
    {{> blog-head}}

    {{!-- NAVIGATION --}}
    {{> blog-nav}}

    {{!-- BODY --}}
    {{{ body }}}

    {{!-- FOOTER --}}
    {{> blog-footer}}
</body>

</html>