<!doctype html>

<html lang="en">
{{!-- HEAD --}}
{{> blogsite-head}}

<body>
    {{!-- NAVIGATION --}}
    {{> blogsite-nav}}

    {{!-- BODY --}}
    {{{ body }}}

    {{!-- FOOTER --}}
    {{> blogsite-footer}}
</body>

</html>