<!doctype html>

<html lang="en">
{{!-- HEAD --}}
{{> blog-head}}

<body>
    {{!-- NAVIGATION --}}
    {{> blog-nav}}

    {{!-- BODY --}}
    {{{ body }}}

    {{!-- FOOTER --}}
    {{> blog-footer}}
</body>

</html>