/* ============================
PAGE HEADER IMAGE TITLE
============================== */

.page-image {
  display: table;
  width: 100%;
}

.page-image-about-blog {
  background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)),
    url("../img/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-image-contact {
  background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)),
    url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
  font-weight: 200;
}
