/*----------------
GENERAL SETTINGS
-----------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  color: #2a2a2a;
}

h1 {
  font-size: 54px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}

a {
  color: #fd8a10;
  text-decoration: none;
  transition: 0.2s opacity;
  font-size: 16px;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  opacity: 0.8;
  color: #fd8a10;
}

.main-color {
  color: #fd8a10;
}

.white-text {
  color: #fff;
}

::moz-selection {
  background-color: #fd8a10;
  color: #fff;
}

::selection {
  background-color: #fd8a10;
  color: #fff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Section Properties */

section {
  position: relative;
}

.section-header {
  position: relative;
  margin-bottom: 60px;
}

.section-header .title {
  text-transform: capitalize;
}

.md-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.md-paddingBlog {
  padding-top: 40px;
  padding-bottom: 80px;
}

.title::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #fd8a10;
  margin: 20px auto 0;
}

.admin-color {
  background-color: #2a2a2a;
}

.admin-padding {
  padding-bottom: 80px;
}
