<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
    <h1 class="text-white text-center">Hakkımda</h1>
</section>

<!--==========================
    ABOUT Section
============================-->
<section id="aboutus" class="md-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">Ben Kimim?</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-md-6">
                <img class="img-fluid" src="img/BurakGuney1.jpg" alt="">
            </div>
            <div class="col-md-12">
                <div class="bg-main text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-left">
                            <p class="mb-3 text-dark">
                                23 Ağustos 1995 Edirne doğumluyum. Edirne Anadolu Öğretmen Lisesi'ni bitirdikten sonra
                                Doğu Akdeniz Üniversitesi İnşaat Mühendisliği'ni kazandım aslında yazılımla ilk tanışmam
                                da burada gerçekleşti saçma ama gerçek. Algoritma ve Programlama dersi vardı C dili
                                gösterilmişti yanlış yerde
                                olduğumu fark etmeme sebep olmuştu aynı zamanda. Ders çıkışlarında yurda gittiğinde
                                yazılım öğrenen bir İnşaat Mühendisliği öğrencisiydim artık. Sevdiğim işi yapmak için
                                radikal bir karar vermeliydim 1-2 yıl kaybı göze aldım ve yatay geçiş yaptım şuanda
                                Kocaeli Üniversitesi Bilişim Sistemleri Mühendisliği son sınıf öğrencisiyim. Ayrıca
                                Anadolu Üniversitesi Açık Öğretim Fakültesinde Web Tasarım ve Kodlama bölümünü okuyorum.
                            </p>
                            <p class="mb-3 text-dark">
                                Üniversite öğrenim hayatım boyunca C, C++, Java, C# dillerine bir şekilde elim değdi
                                aslında hepsinin mantığı aynıydı sadece syntax farklıydı abileri C'nin geliştirilmiş
                                birer klonuydular ilk 2 senem bu 4 dili tanırken zaman kaybı olarak nitelendirdiğim bir
                                şekilde geçti aslında çokta zaman kaybı değildi "Object Oriented Programming" kafamda
                                oturmuştu böylece. Daha sonra 3. sınıfta Web Tasarım dersinde HTML, CSS ve Javascript
                                ile
                                tanıştım aradığım şey tam da buymuş aslında dedim çünkü masaüstü uygulamalar ölmüş
                                yerini tarayıcılarda çalışan uygulamalar almıştı ayrıca son kullanıcıya ulaşabilmemin
                                yanında Javascript ile içli dışlı olmaya başlayınca Node.js gibi bir nimetle tanıştım ki
                                bu Javascript ile backendte veritabanına ulaşabilmemi sağlıyordu. Fakat yaklaşık 1 yıl
                                HTML CSS
                                Javascript(vanilla evet biraz amelelikti) ile web sayfaları tasarlamaya devam ettim
                                kendi
                                çapımda. 4. sınıfta bitirme projem için bir e-ticaret sitesi yapmam gerekliydi bu
                                sebeple olmayı istemediğim yere geri dönmek zorunda kaldım <b>"C#".</b> Allahtan ASP,
                                .net
                                core ile açık kaynaklı oldu da bir nebze de olsa yazarken açık kaynaklı teknolojileri
                                kullanıyorsun Burak diye kendimi avutarak motivasyonumu yüksek tutmaya çalıştım. ASP.Net
                                Core MVC ile bir e-ticaret sitesi yazdım canlıya almadım çünkü adını stickersepeti.com
                                olarak kararlaştırdığım domaini başkası almış ve bunu projeyi yazdıktan sonra öğrenmem
                                tam kafaya sıkmalıktı. Zaten <b>1</b><i class="fas fa-lira-sign"></i>'ye sticker satıp
                                ne
                                kazanacaktım ki?
                            </p>
                            <p class="mb-3 text-dark"> 2019 güz dönemim bu projeyi
                                geliştirmek ve 60 sayfalık tezini yazmakla geçti. Projeyi sunup tezi teslim ettiğim gibi
                                bilgisayardan Windows silip <b>Linux</b> <i class="fab fa-linux"></i> dağıtımı
                                <b>Ubuntu'yu</b><i class="fab fa-ubuntu"></i> kurdum<i class="far fa-laugh-beam">
                                </i>. Çünkü 5 ay boyunca
                                yüksek dozlu Microsoft teknolojilerine maruz kalmıştım C#, ASP, Microsoft SQL
                                Server...
                                Hakkını yemeyelim şimdi .NET gayet güzel kolay bir geliştirme ortamı sunuyor hele Türkçe
                                kaynak olarak diğer tüm
                                web
                                teknolojilerinden Node, Spring, Django vs. (PHP'den değil) daha iyi hatta tüm dünyada
                                C#
                                ve ASP'nin bu kadar kaynak bolluğu olduğu tek ülke Türkiye olabilir<i
                                    class="far fa-grin-beam-sweat"></i>. Şöyle
                                bi
                                2-3 ay açık kaynak açlığımı Ubuntu<i class="fab fa-ubuntu"></i> ile giderdikten sonra
                                Windows'u tekrar
                                kurdum. Bilgisayarı alırken yerleşikti o
                                kadar
                                para verdik napalım çöpe mi atalım bide insan iki oyun oynamak istiyor tabi arada. Bir
                                dahaki PC'yi
                                Freedos
                                artık, sonra Linux<i class="fab fa-linux"></i> devam. Bu sırada React.js öğrenmeye
                                başladım backendten
                                sıkılmışım
                                zaten kaç aydır HTML'de bile C# kullanmışım(Razor template) Javascript'i çok özlemiştim.
                                React
                                güzeldi,
                                Redux daha güzeldi ancak Hooksa geçince ipler kopmuştu bu ne rezillik ya dediğimi
                                hatırlıyorum. Hazır API'leri kullanarak React.js ile frontend geliştirmek iyidi de
                                (zaten Hooks ve JSX tadımı kaçırmıştı) gerçek dünyada API yazamayan yazılımcı mı olur
                                diye
                                soracakları için uzun zamandır öğrenmeyi ertelediğim bir dostumun kapısını tıklatma
                                vakti
                                gelmişti <b>"Node.js".</b> E tabi Node.js kapıyı açınca içeri bir giriyorsun MongoDB baş
                                köşede duruyor öğrenmemek büyük yanlış olurdu hele bu devirde. Bakalım Express'i de
                                yanlarına koyup güzel güzel API'ler yazmaya başlayınca frontendte gözüme Vue.js'i
                                kestirdim. Hooks ve JSX'in tadımı çok kaçırdığını söylemiş miydim?

                            </p>
                            <p class="mb-3 text-dark">
                                <b>Not: Şuan blog v1 demo gibi bir şey. Tüm modülleri bitirince (kayıt, giriş, yorum,
                                    email iletişim vs) yazıları yazmaya
                                    başlayacağım. Amazon Web Service bana
                                    512mb alan verdi bedava. Heroku da sağolsun bedava hostluyor beni böyle ekmek elden
                                    su mavi gölden baya bir götürür diye
                                    umuyorum. Bunları anlatırım bir ara.</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>