<!--==========================
    Header Section
============================-->
<section class="page-image page-image-about-blog md-padding">
</section>

<!--==========================
    About Section
============================-->
<section id="aboutMe" class="md-paddingBlog">

    <div class="container">

        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">Hakkımda</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">


            {{#each about}}
            <div class="col-md-6">
                <img class="img-fluid rounded" src="{{aboutImage}}" alt="">
            </div>
            <div class="col-md-12 mt-3">
                <div class="text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-left">
                            {{{about}}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
    </div>
</section>