<!--==========================
    Header Section
============================-->
<section class="page-image page-image-contact md-padding">
</section>

<!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">

    <div class="container">

        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">Parolamı Unuttum</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 offset-md-2">
                {{#if sessionMessage.message}}
                <div class="{{sessionMessage.type}}" id="sessionMessage">
                    {{sessionMessage.message}} <a href="" class="delete-item float-right"><i
                            class="fa fa-times"></i></a>
                </div>
                {{/if}}
                <form method="POST" action="/contact/forgotpassword" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email" placeholder="E-Posta *"
                                    required="required"
                                    data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-12 clearfix">
                            * Zorunlu alanları belirtir.
                        </div>
                        <div class="col-md-4 offset-md-4 text-center mt-3">
                            <button type="submit" id="sendMessageButton"
                                class="btn btn-success btn-block">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>