<!--==========================
    Hero Header Section
============================-->

<header>
    <video autoplay muted loop id="myVideo">
        <source src="/img/pexel.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    {{!-- <div class="container">
        <div class="intro-text">
            <h1 class="text-white mb-3">MAY THE FORCE BE WITH YOU!</h1>
            <a href="/blog"><button class="main-btn btn">Blog!</button></a>
        </div>
    </div> --}}
</header>

<!--==========================
    Home Section
============================-->
<section class="content">

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="master">
                    <a href="/about"><img class="mx-auto rounded-circle" src="/img/avatar.jpg" alt="">
                        <h4 class="text-light">Burak Güney</h4>
                        <p class="text-light">Web Geliştirici</p>
                    </a>
                    <a href="/about"><button class="main-btn btn"><i class="fas fa-portrait"></i> Hakkımda!</button></a>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <ul class="footer-follow">
                    <li><a href="https://www.linkedin.com/in/guneyburak/" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://github.com/burakguney" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://twitter.com/guneyski" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li style="color: #868f9b;">Powered by<a href="https://aws.amazon.com/tr/" target="_blank"><i
                                class="fab fa-aws"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>